language: julia

dist: xenial

os:
  - linux

julia:
 - 1.5
 - nightly

matrix:
   allow_failures:
     - julia: nightly
   fast_finish: true

notifications:
  email: false

git:
  depth: 99999999

jobs:
  include:
    - stage: Documentation
      julia: 1.5
      os: linux
      script:
        - julia --project=docs -e 'using Pkg; Pkg.instantiate(); Pkg.develop(PackageSpec(path=pwd()))'
        - julia --project=docs --color=yes docs/make.jl
      after_success: skip
